  <footer id="footer" class="footer bg-overlay">
    <div class="footer-main">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-4 col-md-6 footer-widget footer-about">
            <h3 class="widget-title">關於我們</h3>
            <p>我們專注於電熱、熱處理及保溫材料領域，致力於提供高品質的產品與專業服務，以滿足客戶需求</p>
            <p>歡迎與我們聯繫，讓我們以專業與經驗，與您一同解決各種挑戰</p>
            <h2 class="widget-title">品質至上，技術為本，成就長遠夥伴關係。</h2>
            </div><!-- Col end -->

          <div class="col-lg-4 col-md-6 footer-widget mt-5 mt-md-0">
            <h3 class="widget-title">聯絡我們</h3>
            <div class="working-hours">
              如有任何需求或疑問，歡迎透過以下方式與我們聯繫，我們將竭誠為您服務。
              <br>
              <br>
                <i class="fa fa-user"></i>
                聯絡人: 
                <span class="text-right">邱奕凱 </span>
              <br> 
                <i class="fa fa-envelope"></i>
                電子郵件信箱: 
                <span class="text-right">yikai.ywell@gmail.com</span>
              <br> 
                <i class="fa fa-phone"></i>
                連絡電話: 
                <span class="text-right">0932-392-474</span>
              <br> 
                <i class="fa fa-fax"></i>
                傳真號碼: 
                <span class="text-right">+886-2-2610-1573</span>

            </div>
          </div><!-- Col end -->

        </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Footer main end -->

    <div class="copyright">
      <div class="container">
        <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top position-fixed">
          <button class="btn btn-primary" title="Back to Top">
            <i class="fa fa-angle-double-up"></i>
          </button>
        </div>

      </div><!-- Container end -->
    </div><!-- Copyright end -->
  </footer><!-- Footer end -->


  <!-- Javascript Files
  ================================================== -->

  <!-- initialize jQuery Library -->
  <script src="plugins/jQuery/jquery.min.js"></script>
  <!-- Bootstrap jQuery -->
  <script src="plugins/bootstrap/bootstrap.min.js" defer></script>
  <!-- Slick Carousel -->
  <script src="plugins/slick/slick.min.js"></script>
  <script src="plugins/slick/slick-animation.min.js"></script>
  <!-- Color box -->
  <script src="plugins/colorbox/jquery.colorbox.js"></script>
  <!-- shuffle -->
  <script src="plugins/shuffle/shuffle.min.js" defer></script>


  <!-- Google Map API Key-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU" defer></script>
  <!-- Google Map Plugin-->
  <script src="plugins/google-map/map.js" defer></script>

  <!-- Template custom -->
  <script src="js/script.js"></script>

  </div><!-- Body inner end -->
  </body>

  </html>